Assets/Firebase/**/*.aar filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/**/*.jar filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/**/*.dll filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/**/*.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/**/*.bundle filter=lfs diff=lfs merge=lfs -text
